{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
{% if user.is_teacher %}
  <h2 class="bg-info text-white mb-3 p-3">Teacher Dashboard</h2>
  <h5 class="text-dark">Welcome, {{ user.username }}!</h5>

  <a href="{% url 'create_course' %}"><button class="btn btn-success my-3">Create Course</button></a>


  {% if courses %}
    <ul>
      {% for course in courses %}
      <li class="bg-light p-3">
        <p><b>Title: </b>{{ course.title }}</p>
        <p><b>Description: </b>{{ course.description }}</p>
        <p><b>Price: </b>{{ course.price }}</p>
        <p><b>Duration: </b>{{ course.title }}</p> 
        <a href="{% url 'course_detail' course.pk %}"><button class="btn btn-primary">View Details</button></a>
        <a href="{% url 'update_course' course.pk %}"><button class="btn btn-warning">Update</button></a>
        <a href="{% url 'delete_course' course.pk %}"><button class="btn btn-danger">Delete</button></a>
        <a href="{% url 'purchased_students' course.pk %}"><button class="btn btn-info">Purchased students</button></a>
        <br> 
      </li>
        <hr>
      {% endfor %}
    </ul>
  {% else %}
    <p>No courses created yet.</p>
  {% endif %}
{% endif %}
{% endif %}
{% endblock %}
