{% extends 'base.html' %}
{% block content %}

<h1 class="bg-light text-info py-3">User Registration page</h1>
{% if msg %}
{{ msg | safe }}

{% endif %}
<form  method="post">
    {% csrf_token %}
  <div class="form-group first">
      <label for="first_name">First name</label>
        {{ form.first_name }}
  </div>
  <div class="form-group first">
      <label for="last_name">Last name</label>
        {{ form.last_name }}
  </div> 
  <div class="form-group first">
    <label for="username">Username</label>
      {{ form.username }}
  </div>
  <div class="form-group first">
    <label for="email">Email</label>
      {{ form.email}}
  </div>
  <div class="form-group last mb-4">
    <label for="password">Password</label>
      {{ form.password1 }}
  </div>
  <div class="form-group last mb-4">
    <label for="password">confirm Password</label>
      {{ form.password2 }}
  </div>
 <!-- <iv class="form-group">
    <div class="form-check d-flex mb-5 align-items-center">
     <label class="form-check-label  " for="is_teacher">
      Teacher
      <input class="form-check-input" type="checkbox" id="is_teacher" name="is_teacher">
      </label>
    </div>
  </div>

  <div class="form-group">
    <div class="form-check">
      <label class="form-check-label" for="is_student">
        Student
        <input class="form-check-input" type="checkbox" id="is_student" name="is_student">
      </label>
    </div>
  </div>  -->
  <div class="d-flex mb-5 align-items-center">
    <label class="control control--checkbox mb-0"><span class="caption">Teacher</span>
        {{ form.is_teacher }}
      <div class="control__indicator"></div>
    </label>
  </div>
  <div class="d-flex mb-5 align-items-center">
    <label class="control control--checkbox mb-0"><span class="caption">Student</span>
        {{ form.is_student }}
      <div class="control__indicator"></div>
    </label>
  </div>
    <span class="text-error">{{ form.errors }}</span>
  <input type="submit"  value="Register" class="btn btn-pill text-white btn-block btn-primary">
</form>

{% endblock %}